In [14]:
import pandas as pd

In [15]:
df = pd.read_csv('usa_visadataset.csv')
df.head()

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified

In [16]:
df.columns

Index(['case_id', 'continent', 'education_of_employee', 'has_job_experience',
       'requires_job_training', 'no_of_employees', 'yr_of_estab',
       'region_of_employment', 'prevailing_wage', 'unit_of_wage',
       'full_time_position', 'case_status'],
      dtype='object')

In [17]:
data = df.to_dict(orient='records')
#data

In [18]:
from dotenv import load_dotenv
import os

load_dotenv()  # Load variables from .env

DB_NAME = os.getenv("DB_NAME")
COLLECTION_NAME = os.getenv("COLLECTION_NAME")
CONNECTION_URL = os.getenv("CONNECTION_URL")

In [19]:
import pymongo

client = pymongo.MongoClient(CONNECTION_URL)

data_base = client[DB_NAME]

collection = data_base[COLLECTION_NAME]

# rec = collection.insert_many(data)

In [20]:
collection

Collection(Database(MongoClient(host=['ac-6wojzya-shard-00-00.knhkoy9.mongodb.net:27017', 'ac-6wojzya-shard-00-02.knhkoy9.mongodb.net:27017', 'ac-6wojzya-shard-00-01.knhkoy9.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', appname='Cluster0', authsource='admin', replicaset='atlas-pd0m4s-shard-0', tls=True), 'US_VISA'), 'visa_data')

In [21]:
records = collection.find()

# for i, j in enumerate(records):
    #print(f"{i}: {j}")

In [22]:
df.shape

(25480, 12)

In [23]:
if "_id" in df.columns.to_list():
    df = df.drop(columns=["_id"], axis=1)

In [24]:
df.shape

(25480, 12)

In [25]:
# chking for render code block issue

import nbformat

with open("3.mongodb_v2.ipynb") as f:
    nbformat.read(f, as_version=4)